html {
    background-color: rgb(228, 184, 126);
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

body {  
    background-color: rgb(200, 129, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;
    width: 100vw;
    height: 100%;
}